@page "/HackerRank"
@inherits HackerRankBase
@attribute [Authorize]
<br />
<h2 class="page-title">Hacker Rank</h2>

<p>
    This is a page I plan to use for various coding areas and some notes and/or puzzles I have solved/working to solve.<br />
    I have called the page Hacker Rank, as it is a page where such coding puzles exsist.

</p>

<div class="card" style="width: 18rem;">
    <img src="/images/GraphCard.jpg" class="card-img-top" alt="Graph coding">
    <div class="card-body">
        <h5 class="card-title">Graph coding</h5>
        <p class="card-text">Created a graph data structure, where a depth first search and a breath first search can be used to traverse the graph and return the path from point X to point Y.</p>
        <a href="@($"Graph")" class="btn btn-primary">Go to details page.</a>
    </div>
</div>
