@page "/HackerRank"
@inherits HackerRankBase
<br />
<h1 class="page-title">Hacker Rank</h1>

<p>
    This is a page i plan to use for various coding areas and some notes and/or puzzles i have solved/working to solve.<br />
    I have called the page Hacker Rank, as it is a page where such coding puzles exsist.

</p>

<table class="table table-striped table-sm table-hover">
    <thead class="thead-dark">
        <tr>
            <th colspan="2"></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><b>body left</b></td>
            <td><p>paragraf right</p></td>
        </tr>
        <tr>
            <td><p>paragraft left</p></td>
            <td><b>body right</b></td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td>bottom left</td>
            <td>Bottom right</td>
        </tr>
    </tfoot>
</table>

<!-- Tab links -->
<div class="tab">
    <button class="tablinks" onclick="openCity(event, 'London')">London</button>
    <button class="tablinks" onclick="openCity(event, 'Paris')">Paris</button>
    <button class="tablinks" onclick="openCity(event, 'Tokyo')">Tokyo</button>
</div>

<!-- Tab content -->
<div id="London" class="tabcontent">
    <h3>London</h3>
    <p>London is the capital city of England.</p>
</div>

<div id="Paris" class="tabcontent">
    <h3>Paris</h3>
    <p>Paris is the capital of France.</p>
</div>

<div id="Tokyo" class="tabcontent">
    <h3>Tokyo</h3>
    <p>Tokyo is the capital of Japan.</p>
</div>