@page "/HackerRank"
@inherits HackerRankBase

<h1 class="page-title">HackerRank</h1>

<table class="table">
    <thead>
        <tr>
            <th colspan="2"></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><b>body left</b></td>
            <td><p>paragraf right</p></td>
        </tr>
        <tr>
            <td><p>paragraft left</p></td>
            <td><b>body right</b></td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td>bottom left</td>
            <td>Bottom right</td>
        </tr>
    </tfoot>
</table>

<!-- Tab links -->
<div class="tab">
    <button class="tablinks" onclick="openCity(event, 'London')">London</button>
    <button class="tablinks" onclick="openCity(event, 'Paris')">Paris</button>
    <button class="tablinks" onclick="openCity(event, 'Tokyo')">Tokyo</button>
</div>

<!-- Tab content -->
<div id="London" class="tabcontent">
    <h3>London</h3>
    <p>London is the capital city of England.</p>
</div>

<div id="Paris" class="tabcontent">
    <h3>Paris</h3>
    <p>Paris is the capital of France.</p>
</div>

<div id="Tokyo" class="tabcontent">
    <h3>Tokyo</h3>
    <p>Tokyo is the capital of Japan.</p>
</div>