@page "/"
<br />
<h1>Hello, world!</h1>

<p>
    Welcome to Jacobs new app - Just checking how merges trigger azure build pipeline.<br />
    https://dev.azure.com/upperiq/_usersSettings/about <br />
    <br />
    This page is mainly an excersize for a course aswell as my own Blazor experiments.<br />
</p>

