@page "/OtherHobbies"
@inherits OtherHobbiesBase
@attribute [Authorize]
<br />
<h1 class="page-title">Other Hobbies</h1>

<table class="table table-striped table-sm table-hover">
    <thead class="thead-dark">
        <tr>
            <th colspan="3"></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td width="33%"><img src="/images/Ironman.png" alt="Ironman"></td>
            <td colspan="2" width="67%">
                <p>
                    <b>Half-Ironman / Marathon / Weight training</b><br />
                    <br />
                    Back in 2013 - Before wife and kids - I trained alot. Liked to lift weight and running. The passion for running was done in Fitnessdk's running classes. Alot of the participants in my class went on to do triatlons and I did the same. After I did a half Ironman in 5 hours and 10 minutes, I had successed in what I wanted and even tho I had a spot on the Copenhagen Ironman Course I chose to quit. <br />
                    I have been asked alot why, but I have never regretted my decision. It was the right for me, and I am sure it wouldn'h have been as good experience as the Half Ironman was for me.
                </p>
            </td>
        </tr>
        <tr>
            <td colspan="2" width="67%">
                <p>
                    <b>World of Warcraft</b><br />
                    I am a nerd, and back in 2006 i started to play wow, and have basicly done it ever since, with breaks in between - missed most of cataclysm and all og the warlords of draenor expansion, aswell as battle for azeroth. <br />
                    I am currently playing Classic with alot of friend from back in 2006 and love it. Just hard to find the time for it. Lucky my wife understand my passion and help me make room for it.
                </p>
            </td>
            <td width="33%"><img src="/images/World of Warcraft.png" alt="wow"></td>
        </tr>
        <tr>
            <td width="33%"><img src="/images/lol.png" alt="lol"></td>
            <td colspan="2" width="67%">
                <p>
                    <b>League of legends</b><br />
                    Not by any means as big a passion as wow, but I like the competetive part of it and like seeing the E-sport scene.
                </p>
            </td>
        </tr>
    </tbody>
</table>
