@page "/OtherHobbies"
@inherits OtherHobbiesBase

<h1 class="page-title">Other Hobbies</h1>

<table class="table">
    <thead>
        <tr>
            <th colspan="3"></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td width="33%"><img src="/images/Ironman.png" alt="Ironman"></td>
            <td colspan="2" width="67%">
                <p>
                    Ironman
                </p>
            </td>
        </tr>
        <tr>
            <td colspan="2" width="67%"><p>Wow</p></td>
            <td width="33%"><img src="/images/World of Warcraft.png" alt="wow"></td>
        </tr>
        <tr>
            <td width="33%"><img src="/images/lol.png" alt="lol"></td>
            <td colspan="2" width="67%"><p><b>Lol</b><br /></p></td>
        </tr>
    </tbody>
</table>
