@page "/Unity"
@inherits UnityBase

<h1 class="page-title">Unity</h1>
<p>
    Unity is a game engine, where C# code is combined with models, animations and other graphic elements to bring games to life.<br />
    <br />
    I Have written a few small games and a larger MMO game, which i used for my final report for the education "Akademi uddannelse i IT".<br />
    <br />
    The report was about implementing a design pattern called Object Pooling.<br />
    <br />
    Below a few images from the games can be seen.<br />
    <br />
</p>

<table class="table">
    <thead>
        <tr>
            <th colspan="3"></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td width="33%"><img src="/images/Unity1.png" alt="Unity"></td>
            <td colspan="2" width="67%">
                <p>
                    <b>My MMO game - name pending </b><br />
                    It was made from assets from Bitgem mainly as i really loved their style, and combined it with unity's environment, weapon from various sources and my own code.<br />
                    <br />
                    I followed a tutorial on Udemy for the most parts but added my own flair and changes to fit my game.<br />
                    Not sure it will ever get finished as I mainly used it as practise.
                </p>
            </td>
        </tr>
        <tr>
            <td colspan="2" width="67%"><p><b>Smartlearning vs. AI</b><br />
                As a way of trying out Depth first search and breath first search, I made a game where a mob should go from point A to Point B with some obstacles. The path was displayed and I could debug how it worked.</p></td>
            <td width="33%"><img src="/images/SmartlearningVsAI3.png" alt="Smarlearningvsai"></td>
        </tr>
        <tr>
            <td width="33%"><img src="/images/LegendOfZafirah.png" alt="legendsofzafirah"></td>
            <td colspan="2" width="67%"><p><b>Legends of Zafirah</b><br />It was my very first game and follow a tutorial almost 100%. Great learning experience and I ended up adding a few extra things in the end, and had great fun doing it. It was a survival game where waves of mobs runs towards you and you had to survive as long as possible.</p></td>
        </tr>
        <tr>
            <td colspan="2" width="67%"><p><b>AI Domination</b><br />
                An attempt to create a Single player MOBA like game where the M in Moba was actually AI's, As I wanted to try out som AI logic. Worked okay - but it wasn't fun to play :o</p></td>
            <td width="33%"><img src="/images/AIDomination12.png" alt="AIDomination"></td>
        </tr>
    </tbody>
</table>
