@page "/Unity"
@inherits UnityBase

<h1 class="page-title">Unity</h1>

<table class="table">
    <thead>
        <tr>
            <th colspan="2"></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><b>body left</b></td>
            <td><p>paragraf right</p></td>
        </tr>
        <tr>
            <td><p>paragraft left</p></td>
            <td><b>body right</b></td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td>bottom left</td>
            <td>Bottom right</td>
        </tr>
    </tfoot>
</table>
