@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <a href="Login" class="btn btn-primary btn-sm">Log in</a>
    </div>

    <div class="container-fluid">
        @Body
    </div>
</div>
