@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <AuthorizeView>
            <Authorized>
                <a href="Logout" class="btn btn-primary btn-sm">Log out (@context.User.Claims.FirstOrDefault(u=>u.Type == "http://schemas.xmlsoap.org/ws/2005/05/identity/claims/name")?.Value)</a> 
            </Authorized>
            <NotAuthorized>
                <a href="Login" class="btn btn-primary btn-sm">Log in</a>
            </NotAuthorized>
        </AuthorizeView>
    </div>

    <div class="container-fluid">
        @Body
    </div>
</div>
